#footer {
		background: #272833;
		padding: 3em 0;
		text-align: center;
	}

		#footer .icons .icon.alt {
			text-decoration: none;
		}

			#footer .icons .icon.alt:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#footer .icons .icon.alt:before {
				color: #272833 !important;
				text-shadow: 1px 0 0 rgba(255, 255, 255, 0.5), -1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5);
			}

		#footer .copyright {
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.8em;
			line-height: 1em;
			margin: 2em 0 0 0;
			padding: 0;
			text-align: center;
		}

			#footer .copyright li {
				border-left: solid 1px rgba(255, 255, 255, 0.3);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;
			}

				#footer .copyright li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

				#footer .copyright li a {
                    color: inherit;
					border-bottom: none !important;
				}
/* List */

	#footer > ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		#footer > ol li {
			padding-left: 0.25em;
		}

	#footer > ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		#footer > ul li {
			padding-left: 0.5em;
		}

		#footer > ul.alt {
			list-style: none;
			padding-left: 0;
		}

			#footer > ul.alt li {
				border-top: solid 1px rgba(255, 255, 255, 0.3);
				padding: 0.5em 0;
			}

				#footer > ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		#footer > ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			#footer > ul.icons li {
				display: inline-block;
				height: 2.5em;
				line-height: 2.5em;
				padding: 0 0.5em;
			}

				#footer > ul.icons li .icon {
					font-size: 0.8em;
				}

					#footer > ul.icons li .icon:before {
						font-size: 2em;
					}

		#footer > ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			#footer > ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				#footer > #footer > ul.actions li:last-child {
					padding-right: 0;
				}

			#footer > ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			#footer > ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				#footer > ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				#footer > ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			#footer > ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				#footer > ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			#footer > ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				#footer > ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					#footer > ul.actions.fit li > * {
						margin-bottom: 0;
					}

				#footer > ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					#footer > ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

	#footer > dl {
		margin: 0 0 2em 0;
	}

/* Icon */


	#footer > .icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		#footer > #footer > .icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		#footer > .icon > .label {
			display: none;
		}

		#footer > .icon.alt {
			text-decoration: none;
		}

			#footer > .icon.alt:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#footer > .icon.alt:before {
				color: #1c1d26 !important;
				text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;
			}

		#footer > .icon.major {
			background: #272833;
			border-radius: 100%;
			cursor: default;
			display: inline-block;
			height: 6em;
			line-height: 6em;
			margin: 0 0 2em 0;
			text-align: center;
			width: 6em;
		}

			#footer > .icon.major:before {
				font-size: 2.25em;
			}

			#footer > .icon.major.alt {
				text-decoration: none;
			}

				#footer > .icon.major.alt:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				#footer > .icon.major.alt:before {
					color: #272833 !important;
					text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;
				}
@media screen and (max-width: 980px) {
#footer{padding:3.5em 0}
}
@media screen and (max-width: 480px) {
#footer{padding:3em 0}
#footer .copyright{line-height:inherit}
#footer .copyright li{border-left:0;display:block;margin:0;padding:0}
}
