#bar {
	z-index: 100;
	width: 100%;
	background: transparent;
	position: fixed;
	top: 0;
	#nav {
		transition: all .3s;
		display: flex;
		position: relative;
		ul {
			height: 3em;
			width: 100%;
			align-items: stretch;
			position: relative;
			align-content: stretch;
			flex-wrap: nowrap;
			display: flex;
			li {
				transition: all .3s;
				width: 20%;
				line-height: 3em;
				display: inline-flex;
				a {
					text-align: center;
					display: block;
					margin: auto;
					width: 100%;
				}
				&:hover {
					background-color: rgba($white, .75);
					a {
						color: $black;
					}
				}
			}
		}
		$barStyle: (how, $green, 1) (project, $red, 2);
		@each $style in $barStyle {
			$class: nth($style, 1);
			$color: nth($style, 2);
			$nth: nth($style, 3);
			&.scrolled.#{$class} {
				box-shadow: 1px 1px 4px rgba($black, .5);
				transition: all .3s;
				background-color: $color;
				ul {
					li:nth-child(#{$nth}) {
						background-color: $white;
						a {
							color: $color;
						}
					}
				}
			}
		}
	}
}
