.debug {
    transition: all .3s;
    background-color: $red;
    display: flex;
    padding: 2em;
    position: fixed;
    width: calc(100vw - 4em);
    height: calc(100vh - 4em);
    z-index: 100000000;
    top: 0;
    justify-content: center;
    flex-direction: column;
    p {
        display: flex;
        font-size: $subtitle;
        color: $white;
    }
}