#header {
  color: $white;
  top: 0;
  display: block;
  position: fixed;
  width: 100%;
  max-height: 3em;
  padding: .5em 0;
  background-color: $gray !important;
  z-index: 1000;
  box-shadow: 4px 4px 12px rgba(0%, 0%, 0%, 0.5);
  h1 {
    &#logo {
      display: none;
    }
  }
  img {
    max-width: 30vw;
    display: inline-flex;
    &#logo {
      height: 3em;
      padding: 0 1em;
    }
    @media screen and (max-width: 1080px) {
      border-right: none;
    }
  }
  .toggle {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 1.5em;
    width: 2em;
    color: $gray;
    background-color: $green;
    padding: .5em;
    line-height: 1.5em;
    text-align: center;
    z-index: 10000;
    transition: all .3s;
    &.active {
      transform: translateX(-80vw);
      transition: all .3s;
    }
  }
  #nav {
    width: calc(100% - 251px);
    height: 3em;
    display: inline-flex;
    position: relative;
    float: right;
    margin: 0;
    margin-right: 1em;
    transition: all .3s;
    ul {
      min-height: 3em;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      li {
        width: 100%;
        border-right: 1px solid rgba($white, .5);
        display: inline-flex;
        transition: all .3s;
        color: $green !important;
        &:nth-child(1) {
          @media screen and (max-width: 1080px) {
            border-left: 1px solid rgba($white, .5);
          }
        }
        a {
          text-align: center;
          width: 100%;
          line-height: 3em;
        }
        ul {
          display: none;
          transition: all .3s;
          opacity: 0;
        }
        &:hover,
        &:focus,
        &:active {
          a {
            position: relative;
            width: 100%;
            transition: all .3s;
            color: $green;
          }
          ul {
            transform: translateX(-1px);
            width: calc(100% / 6 - 1px);
            position: absolute;
            transition: all .3s;
            margin-top: 3em;
            display: block;
            background-color: $gray;
            border: 1px solid rgba($white, .5);
            border-top: none;
            opacity: 1;
            box-shadow: 4px 4px 12px rgba(0%, 0%, 0%, 0.5);
            li {
              height: 3em;
              display: flex;
              border: 0;
              justify-content: center;
              &:hover,
              &:focus,
              &:active {
                background-color: $green;
              }
              a {
                justify-content: center;
                text-align: center;
                display: flex;
                color: $white;
              }
            }
            &:hover,
            &:focus,
            &:active {
              display: block;
            }
          }
        }
      }
    }
    &.active {
      position: fixed;
      transition: all .3s;
      top: 0;
      padding: 0;
      display: block;
      right: 0;
      width: 80vw;
      height: 100vh;
      margin: 0;
      background-color: $gray;
      box-shadow: 4px 4px 12px rgba(0%, 0%, 0%, 0.5);
      ul {
        transition: all .3s;
        position: relative !important;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        li {
          transition: all .3s;
          position: relative !important;
          flex-direction: column;
          min-height: 3em;
          display: inline-flex;
          box-shadow: 1px 1px 1px rgba(0%, 0%, 0%, 0.5);
          ul {
            transition: all .3s;
            display: none;
          }
          &.active {
            ul {
              transform: translateX(1px);
              box-shadow: none;
              position: relative !important;
              display: flex;
              transition: all .3s;
              width: 100%;
              border: 0;
              margin: 0;
              background-color: $white;
              li {
                transition: all .3s;
                box-shadow: none;
                height: 3em;
                display: flex;
                border: 0;
                &.active {
                  a {
                    transition: all .3s;
                    color: $white;
                  }
                  border: 0;
                }
                a {
                  transition: all .3s;
                  color: $black;
                }
              }
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  #header {
    max-height: 1.5em;
    img {
      display: inline-block;
      &#logo {
        height: 1.5em;
        display: block;
        margin: auto;
      }
    }
    #nav {
      right: -80vw;
      width: 80vw;
      height: 100vh;
      position: absolute;
      display: block;
      ul {
        li {
          display: none;
        }
      }
    }
    .toggle {
      display: inline-block;
    }
  }
}