.timeline {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: space-around;

    .container {
        position: relative;
        display: flex;
        height: auto;
        padding: 2em;
        flex-direction: column;
        border-left: 3px dashed rgba($dark-green,.5);

        .block {
            margin: 2em;
            padding: 1em;
            box-shadow: 4px 4px 10px rgba($black,.5);

            .content {
                padding: 1em;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                h2 {
                    justify-content: center;
                    display: flex;
                    font-size: $title-l;
                    font-weight: 200;
                }

                p {
                    justify-content: center;
                    display: flex;
                    font-size: $subtitle-m;
                }

                .button {
                    justify-content: center;
                    color: $black;
                    border-color: $black;
                    display: flex;
                    margin: 0.5em auto;
                }
            }

            .date {
                padding: 0.5em;
                color: $white;
                display: inline-flex;
                background-color: $dark-green;
                transform: translate(-7em,-8em);
                box-shadow: 4px 4px 10px rgba($black,.5);
            }
        }
    }
    $timelineStyle: (red $red) (green $green) (blue $blue);
    @each $style in $timelineStyle {
        $class: nth($style,1);
        $color: nth($style,2);

        &.history.#{$class} {
            margin: 2em 0;
            display: flex;
            position: relative;
            width: 100%;
            height: auto;
            flex-direction: column;

            li {
                min-height: 3em;
                display: flex;
                justify-content: space-between;

                .timeline-date {
                    justify-content: center;
                    align-items: center;
                    display: inline-flex;
                    margin: 1em 0 !important;
                    font-size: $footnote;
                    width: 30%;
                }

                .timeline-content {
                    padding: 1em;
                    width: 70%;
                    border-left: 1px solid $color;

                    h3 {
                        font-weight: 400;
                    }

                    &:before {
                        width: 1em;
                        height: 1em;
                        display: block;
                        content: '';
                        position: absolute;
                        background-color: $color;
                        border-radius: 1em;
                        transform: translate(-1.55em,.75em);
                    }
                }

                p {
                    text-indent: 0 !important;
                }

                &:nth-child(odd) {
                    background-color: rgba($color,.25);
                }

                &:nth-child(even) {
                    background-color: rgba($color,.125);
                }
            }
        }
    }
}
