@keyframes pic
{
    from {
        background-image: url(images/BG1.jpg)
    }
    25% {
        background-image: url(images/BG2.jpg)
    }
    50% {
        background-image: url(images/BG3.jpg)
    }
    75% {
        background-image: url(images/BG4.jpg)
    }
    to {
        background-image: url(images/BG1.jpg)
    }
}
@-webkit-keyframes pic
{
    from {
        background-image: url(images/BG1.jpg)
    }
    25% {
        background-image: url(images/BG2.jpg)
    }
    50% {
        background-image: url(images/BG3.jpg)
    }
    75% {
        background-image: url(images/BG4.jpg)
    }
    to {
        background-image: url(images/BG1.jpg)
    }
}
@-ms-keyframes pic
{
    from {
        background-image: url(images/BG1.jpg)
    }
    25% {
        background-image: url(images/BG2.jpg)
    }
    50% {
        background-image: url(images/BG3.jpg)
    }
    75% {
        background-image: url(images/BG4.jpg)
    }
    to {
        background-image: url(images/BG1.jpg)
    }
}

	#banner {
		background-attachment: fixed;
		background-color: #2c2721;
        background-image: url(images/BG4.jpg);
		background-position: center center;
		background-size: cover;
		box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
		height: 100%;
		position: relative;
		text-align: center;
        padding: 1em;
        animation: 20s pic ease-in-out infinite;
        -webkit-animation: 20s pic ease-in-out infinite;
        -ms-animation: 20s pic ease-in-out infinite;
	}


		#banner:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			width: 100%;
		}

		#banner:after {
			background-image: -moz-linear-gradient(top, rgba(216, 171, 76, 0.1), rgba(42, 40, 34, 0.75)), url("images/overlay.png");;
			background-image: -webkit-linear-gradient(top, rgba(216, 171, 76, 0.1), rgba(42, 40, 34, 0.75)), url("images/overlay.png");;
			background-image: -ms-linear-gradient(top, rgba(216, 171, 76, 0.1), rgba(42, 40, 34, 0.75)), url("images/overlay.png");;
			background-image: linear-gradient(top, rgba(216, 171, 76, 0.1), rgba(42, 40, 34, 0.75)), url("images/overlay.png");;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		#banner .content {
			display: inline-block;
			margin-right: 1%;
			max-width: 100%;
			padding: 12% 0;
			position: relative;
			text-align: right;
			vertical-align: middle;
			z-index: 1;
		}

			#banner .content header {
				display: inline-block;
				vertical-align: middle;
			}

				#banner .content header h2 {
					font-size: 2.5em;
					margin: 0;
				}

				#banner .content header p {
					margin: 0.5em 0 0 0;
					top: 0;
				}

			#banner .content .image {
				border-radius: 100%;
				display: inline-block;
				height: 18em;
				margin-left: 3em;
				vertical-align: middle;
				width: 18em;
			}

				#banner .content .image img {
					border-radius: 100%;
					display: block;
					width: 100%;
				}

	body.is-touch #banner {
		background-attachment: scroll;
	}
