html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none;
  color: white;
  font-family: 'Noto Sans TC', sans-serif; }

hr {
  border: 1px solid white; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
footer {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  letter-spacing: 1.2px;
  line-height: normal; }

img {
  display: block;
  max-height: 100vw; }

html {
  background-color: #0d0e0f;
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  z-index: -2; }

#welcome {
  display: block;
  color: white;
  background-attachment: fixed;
  background-color: #0d0e0f;
  background-image: url(images/BG1.jpg);
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center; }
  #welcome:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    position: absolute; }
  #welcome:after {
    background-image: -moz-linear-gradient(top, rgba(216, 171, 76, 0.1), rgba(88, 76, 48, 0.5)), url("images/overlay.png");
    background-image: -webkit-linear-gradient(top, rgba(216, 171, 76, 0.1), rgba(88, 76, 48, 0.5)), url("images/overlay.png");
    background-image: -ms-linear-gradient(top, rgba(216, 171, 76, 0.1), rgba(88, 76, 48, 0.5)), url("images/overlay.png");
    background-image: linear-gradient(top, rgba(216, 171, 76, 0.1), rgba(88, 76, 48, 0.5)), url("images/overlay.png");
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  #welcome .content {
    display: inline-block;
    max-width: 100%;
    max-height: 10em;
    height: 100%;
    top: 20%;
    padding: 2.5em 0;
    position: relative;
    text-align: right;
    vertical-align: middle;
    z-index: 1; }
    #welcome .content header {
      display: inline-block;
      vertical-align: middle; }
      #welcome .content header hr {
        margin: 1em 0;
        opacity: .5; }
      #welcome .content header h1 {
        margin: 0;
        font-size: 2.5em; }
      #welcome .content header p {
        margin: 0.5em 0 0 0;
        top: 0;
        font-size: 1em; }
      #welcome .content header .image {
        border-radius: 100%;
        display: inline-block;
        height: 20em;
        margin-left: 3em;
        vertical-align: middle;
        width: 20em; }
        #welcome .content header .image img {
          width: 20em;
          height: 20em;
          border-radius: 100%;
          display: block;
          margin: 0.5em; }
        #welcome .content header .image.mobile {
          display: none; }
    #welcome .content .warning {
      text-align: center;
      display: block;
      border: 1px solid white;
      border-radius: 1.5em;
      padding: 0.5em 1em;
      opacity: .75; }

@media screen and (max-width: 736px) {
  #welcome {
    height: 100%; }
    #welcome .content {
      top: auto; }
      #welcome .content header {
        display: block;
        text-align: center !important;
        float: none; }
        #welcome .content header .image {
          margin: 0 0 1em 0;
          display: none; }
          #welcome .content header .image.mobile {
            display: block !important; } }
@media screen and (max-width: 480px) {
  #welcome {
    height: 125vh; }
    #welcome .content header .image {
      margin: auto;
      margin-bottom: 1em;
      width: 10em;
      height: 10em; }
      #welcome .content header .image img {
        margin: auto;
        width: 10em;
        height: 10em; } }
.button {
  display: inline-block;
  border: 1px solid white;
  border-radius: 1em;
  padding: .5em 1em;
  margin: .5em auto;
  transition: all .3s; }
  .button:hover, .button:focus {
    border: 1px solid #ffd548;
    background-color: #ffd548; }

#footer.init {
  z-index: 1000;
  overflow: hidden;
  bottom: 0;
  position: relative;
  color: white;
  background-color: #1d1d1d;
  text-align: center;
  padding: 2em 0em;
  display: block;
  opacity: .9;
  z-index: 0; }
  #footer.init .icons {
    display: block;
    margin: 1em auto;
    position: relative; }
    #footer.init .icons li {
      margin: .5em;
      display: inline-block; }
      #footer.init .icons li .icon {
        padding: .5em;
        width: 1em;
        height: 1em;
        border: 1px solid white;
        border-radius: 100%;
        transition: all .3s;
        font-family: 'FontAwesome';
        color: white;
        font-size: 1em; }
        #footer.init .icons li .icon:hover {
          background-color: white;
          color: #0d0e0f; }
      #footer.init .icons li .label {
        display: none; }
  #footer.init .copyright {
    display: block;
    margin: auto;
    position: relative;
    font-size: 0.5em; }

#footer.yellow {
  z-index: 1000;
  overflow: hidden;
  bottom: 0;
  position: relative;
  color: white;
  background-color: #1d1d1d;
  text-align: center;
  padding: 2em 0em;
  display: block;
  opacity: .9;
  z-index: 0; }
  #footer.yellow .icons {
    display: block;
    margin: 1em auto;
    position: relative; }
    #footer.yellow .icons li {
      margin: .5em;
      display: inline-block; }
      #footer.yellow .icons li .icon {
        padding: .5em;
        width: 1em;
        height: 1em;
        border: 1px solid white;
        border-radius: 100%;
        transition: all .3s;
        font-family: 'FontAwesome';
        color: white;
        font-size: 1em; }
        #footer.yellow .icons li .icon:hover {
          background-color: white;
          color: #ddae10; }
      #footer.yellow .icons li .label {
        display: none; }
  #footer.yellow .copyright {
    display: block;
    margin: auto;
    position: relative;
    font-size: 0.5em; }

#footer.green {
  z-index: 1000;
  overflow: hidden;
  bottom: 0;
  position: relative;
  color: white;
  background-color: #1d1d1d;
  text-align: center;
  padding: 2em 0em;
  display: block;
  opacity: .9;
  z-index: 0; }
  #footer.green .icons {
    display: block;
    margin: 1em auto;
    position: relative; }
    #footer.green .icons li {
      margin: .5em;
      display: inline-block; }
      #footer.green .icons li .icon {
        padding: .5em;
        width: 1em;
        height: 1em;
        border: 1px solid white;
        border-radius: 100%;
        transition: all .3s;
        font-family: 'FontAwesome';
        color: white;
        font-size: 1em; }
        #footer.green .icons li .icon:hover {
          background-color: white;
          color: #0ea3a3; }
      #footer.green .icons li .label {
        display: none; }
  #footer.green .copyright {
    display: block;
    margin: auto;
    position: relative;
    font-size: 0.5em; }

@keyframes turn {
  from {
    transform: rotate(45deg); }
  to {
    transform: rotate(405deg); } }
@keyframes dotTurn {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(450deg); } }
@keyframes windowsTurn {
  0% {
    opacity: 0;
    transform: rotate(-45deg); }
  2% {
    opacity: 1; }
  25% {
    transform: rotate(360deg); }
  55% {
    transform: rotate(585deg); }
  78% {
    opacity: 1; }
  80% {
    opacity: 0;
    transform: rotate(945deg); }
  99% {
    transform: rotate(945deg); }
  100% {
    opacity: 0;
    transform: rotate(-45deg); } }
@keyframes persent-1 {
  0% {
    border-color: #ea1a52;
    transform: rotate(-135deg); }
  49% {
    border-color: #ea1a52; }
  50% {
    border-color: #fff;
    transform: rotate(-135deg); }
  100% {
    border-color: #fff;
    transform: rotate(45deg); } }
@keyframes persent-2 {
  0% {
    transform: rotate(225deg); }
  50% {
    transform: rotate(405deg); }
  100% {
    transform: rotate(405deg); } }
@keyframes persent-3 {
  0% {
    border-color: #fff;
    transform: rotate(-90deg); }
  50% {
    border-color: #fff;
    transform: rotate(135deg); }
  51% {
    border-color: #ea1a52; }
  100% {
    border-color: #ea1a52;
    transform: rotate(135deg); } }
#sketch {
  transition: all .3s;
  top: 0;
  position: fixed !important;
  z-index: 1000000;
  background-color: #1a9aea;
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
  flex-flow: wrap; }
  #sketch header {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column; }
    #sketch header h1 {
      margin: 0 auto;
      display: flex; }
    #sketch header p {
      margin: 0 auto;
      display: flex; }
  #sketch .load {
    padding: .5em;
    margin: auto;
    display: inline-flex;
    border-radius: 5px;
    flex-direction: column; }
    #sketch .load .loading {
      animation: linear turn 3s infinite;
      height: 10em;
      width: 10em;
      display: block;
      border-radius: 50%;
      border: 5px solid; }
    #sketch .load h1 {
      font-weight: 200;
      margin: .5em auto;
      display: flex;
      font-size: 1em; }
    #sketch .load.load-1 .loading {
      animation: linear turn 3s infinite;
      border-top-color: transparent !important; }
    #sketch .load.load-2 .loading {
      transform: translateY(5em);
      animation: none;
      border: 0; }
      #sketch .load.load-2 .loading .dot-1 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0.7s infinite; }
        #sketch .load.load-2 .loading .dot-1:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-2 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0.63s infinite; }
        #sketch .load.load-2 .loading .dot-2:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-3 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0.56s infinite; }
        #sketch .load.load-2 .loading .dot-3:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-4 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0.49s infinite; }
        #sketch .load.load-2 .loading .dot-4:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-5 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0.42s infinite; }
        #sketch .load.load-2 .loading .dot-5:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-6 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0.35s infinite; }
        #sketch .load.load-2 .loading .dot-6:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-7 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0.28s infinite; }
        #sketch .load.load-2 .loading .dot-7:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-8 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0.21s infinite; }
        #sketch .load.load-2 .loading .dot-8:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-9 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0.14s infinite; }
        #sketch .load.load-2 .loading .dot-9:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-10 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0.07s infinite; }
        #sketch .load.load-2 .loading .dot-10:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-11 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn 0s infinite; }
        #sketch .load.load-2 .loading .dot-11:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-12 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn -0.07s infinite; }
        #sketch .load.load-2 .loading .dot-12:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-13 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn -0.14s infinite; }
        #sketch .load.load-2 .loading .dot-13:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-14 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn -0.21s infinite; }
        #sketch .load.load-2 .loading .dot-14:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-15 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn -0.28s infinite; }
        #sketch .load.load-2 .loading .dot-15:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-16 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn -0.35s infinite; }
        #sketch .load.load-2 .loading .dot-16:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-17 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn -0.42s infinite; }
        #sketch .load.load-2 .loading .dot-17:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-18 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn -0.49s infinite; }
        #sketch .load.load-2 .loading .dot-18:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-19 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn -0.56s infinite; }
        #sketch .load.load-2 .loading .dot-19:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-20 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn -0.63s infinite; }
        #sketch .load.load-2 .loading .dot-20:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
      #sketch .load.load-2 .loading .dot-21 {
        transform: rotate(90deg);
        position: relative;
        animation: ease-in-out 3s dotTurn -0.7s infinite; }
        #sketch .load.load-2 .loading .dot-21:before {
          content: '';
          position: absolute;
          width: .5em;
          height: .5em;
          border-radius: .5em;
          display: block;
          background-color: #ffcb1c; }
    #sketch .load.load-3 {
      color: #fff; }
      #sketch .load.load-3 .loading {
        transform: translateY(5em);
        animation: none;
        border: 0; }
        #sketch .load.load-3 .loading .dot-1 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 2.5s infinite; }
          #sketch .load.load-3 .loading .dot-1:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-2 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 2.25s infinite; }
          #sketch .load.load-3 .loading .dot-2:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-3 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 2s infinite; }
          #sketch .load.load-3 .loading .dot-3:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-4 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 1.75s infinite; }
          #sketch .load.load-3 .loading .dot-4:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-5 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 1.5s infinite; }
          #sketch .load.load-3 .loading .dot-5:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-6 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 1.25s infinite; }
          #sketch .load.load-3 .loading .dot-6:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-7 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 1s infinite; }
          #sketch .load.load-3 .loading .dot-7:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-8 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 0.75s infinite; }
          #sketch .load.load-3 .loading .dot-8:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-9 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 0.5s infinite; }
          #sketch .load.load-3 .loading .dot-9:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-10 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 0.25s infinite; }
          #sketch .load.load-3 .loading .dot-10:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-11 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn 0s infinite; }
          #sketch .load.load-3 .loading .dot-11:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-12 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn -0.25s infinite; }
          #sketch .load.load-3 .loading .dot-12:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-13 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn -0.5s infinite; }
          #sketch .load.load-3 .loading .dot-13:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-14 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn -0.75s infinite; }
          #sketch .load.load-3 .loading .dot-14:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-15 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn -1s infinite; }
          #sketch .load.load-3 .loading .dot-15:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-16 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn -1.25s infinite; }
          #sketch .load.load-3 .loading .dot-16:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-17 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn -1.5s infinite; }
          #sketch .load.load-3 .loading .dot-17:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-18 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn -1.75s infinite; }
          #sketch .load.load-3 .loading .dot-18:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-19 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn -2s infinite; }
          #sketch .load.load-3 .loading .dot-19:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-20 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn -2.25s infinite; }
          #sketch .load.load-3 .loading .dot-20:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
        #sketch .load.load-3 .loading .dot-21 {
          opacity: 0;
          transform: rotate(-45deg);
          position: relative;
          animation: cubic-bezier(0, 0.3, 1, 0.7) 8s windowsTurn -2.5s infinite; }
          #sketch .load.load-3 .loading .dot-21:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            display: block;
            background-color: #fff; }
    #sketch .load.load-4 .loading {
      z-index: 0;
      position: relative;
      animation: none;
      overflow: hidden;
      border: 5px solid transparent;
      border-bottom-color: transparent;
      border-left-color: transparent; }
    #sketch .load.load-4 [class^="persent"] {
      content: '';
      position: absolute;
      width: 10em;
      height: 10em;
      display: block;
      border: 5px solid #fff;
      border-radius: 50%;
      border-bottom-color: transparent;
      border-left-color: transparent; }
    #sketch .load.load-4 .persent-1 {
      border-color: #ea1a52;
      transform: rotate(45deg);
      animation: linear persent-1 3s infinite;
      z-index: 2; }
    #sketch .load.load-4 .persent-2 {
      border-color: #ea1a52;
      transform: rotate(225deg);
      z-index: 1;
      border-left-color: #ea1a52; }
    #sketch .load.load-4 .persent-3 {
      transform: rotate(-135deg);
      animation: linear persent-3 3s infinite;
      z-index: 2; }
    #sketch .load:nth-child(4n) .loading {
      border-color: #1a9aea; }
    #sketch .load:nth-child(4n+1) .loading {
      border-color: #ea1a52; }
    #sketch .load:nth-child(4n+2) .loading {
      border-color: #1aeaca; }
    #sketch .load:nth-child(4n+3) .loading {
      border-color: #ffcb1c; }

/*# sourceMappingURL=main.css.map */
