.wrapper.style4 .content {
    padding: 3em 7em;
    height: 100%;
}

.wrapper.style4 .content img {
    width: 15em;
    height: auto;
    margin: 2em;
    display: inline-block;
    float: left;
}

.wrapper.style4 .content p {
    letter-spacing: .05em;
}

.button.back {
    float: right;
    margin: 1.5em;
}
