#intro {
  color: $white;
  margin: 0;
  height: 100vh;
  width: 100vw;
  .spolight {
    @include backgroundConfig;
    background-attachment: local;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 33.33%;
    height: 50vh;
    float: left;
    &#one {
      background-image: url("images/intro/lms.jpg");
    }
    &#two {
      background-image: url("images/intro/team.jpg");
    }
    &#three {
      background-image: url("images/intro/temple.jpg");
    }
    &#four {
      background-image: url("images/intro/oam.jpg");
    }
    &#five {
      background-image: url("images/intro/open.jpg");
    }
    &#six {
      background-image: url("images/intro/msm.jpg");
    }
    .container {
      transition: all .3s;
      opacity: 0;
      margin: 0;
      float: left;
      z-index: 2;
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      background-color: $orange-alpha;
      header {
        margin: 9em 3em 3em 3em;
        bottom: 0;
        position: relative;
        display: block;
        h2 {
          font-size: $title-l;
        }
      }
    }
    &:hover {
      .container {
        opacity: 1;
      }
    }
  }
  .button {
    &:hover {
      background-color: $white;
      color: $black;
      border: $white;
    }
  }
}

@media screen and (max-width: 736px) {
  #intro {
    height: 300vh;
    .spolight {
      display: block;
      width: 100%;
      .container {
        background-color: $gray-alpha;
        text-align: center;
        opacity: 1;
        header {
          position: relative;
          vertical-align: middle;
          margin: 5em 2em 5em 2em;
        }
        &:active,
        &:hover,
        &:focus {
          background-color: $green;
        }
      }
    }
  }
}
