/*Fix Old*/
.wrapper {
    height: auto;
}
.content {
    text-align: left;
}


.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 6em;
}
p {
    margin: auto;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 6em;
    float: left;
    margin-top: 1em;
  }
  .timeline-content.style1 {
    width: 70%;
    float: left;
    border-left: 2px rgba(111, 193, 115, 0.75) solid;
    padding-left: 3em;
  }
  .timeline-content.style2 {
    width: 70%;
    float: left;
    border-left: 2px rgba(111, 193, 115, 0.75) solid;
    padding-left: 3em;
  }
  .timeline-content:before {
    content: '';
    width: 1em;
    height: 1em;
    background: #6fc173;
    position: absolute;
    left: 6em;
    top: 1em;
    border-radius: 100%;
  }
}
